@model List<Plan>


<div class="d-grid gap-2">
    <a asp-action="Create" class="btn btn-primary mb-3" type="button">Create Plan!</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.ShortDescription</p>

                        <div class="bottom_card d-flex justify-content-between align-items-center">
                            <p class="date_card mb-0">@item.DeadLine?.ToString("dd-MMMM-yyyy")</p>

                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-success">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    }
</div>

<style></style>
